<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Classes</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/mediaqueries.css">
    <script src="/static/script.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/47b23d2432.js" crossorigin="anonymous"></script>
</head>
<body>

    <header>
        <div class="desktop-header-container">
            <nav class="desktop-header-nav">
                <ul class="nav-links">
                    <li><a href="/">HOME</a></li>
                    <li><a href="tattoos.html">GLITTER TATTOOS</a></li>
                    <li><a href="classes.html"class="active-nav-link">CLASS OPTIONS</a></li>
                    <li><a href="commissions.html">COMMISSION PIECES</a></li>
                    <li><a href="gallery.html">ART GALLERY</a></li>
                    <li><a href="contact.html">CONTACT</a></li>
                </ul>
            </nav>
        </div>
        
        <div class="mobile-header-container">
            <nav class="mobile-header-nav">
                <div class="title-container-mobile">
                    <h1 class="title-text-1">CLASS OPTIONS</h1>
                </div>
                <div class="hamburger-menu">
                    <div class="hamburger-icon" onclick="toggleMenu()">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <div class="menu-links">
                    <li><a href="/" onclick="toggleMenu()">HOME</a></li>
                    <li><a href="tattoos.html" onclick="toggleMenu()">TATTOOS</a></li>
                    <li><a href="classes.html" onclick="toggleMenu()">CLASSES</a></li>
                    <li><a href="commissions.html" onclick="toggleMenu()">COMMISSIONS</a></li>
                    <li><a href="gallery.html" onclick="toggleMenu()">GALLERY</a></li>
                    <li><a href="contact.html" onclick="toggleMenu()">CONTACT</a></li>
                </div>
            </nav>
        </div>
    </header>

    <section id="introduction">
        <div class="title-container">
            <h1 class="title-text-1">CLASS OPTIONS</h1>
        </div>
    </section>

    <section id="classes">
        <div class="classes-container classes-left">
            <div>
                <button class="btn class-links active-class-link" onclick="openLink('arts-crafts')">
                    Arts and Crafts
                </button>
                <p>(Ages 5 to 8)</p>
            </div>
            <div>
                <button class="btn class-links" onclick="openLink('drawing-basics')">
                    Drawing Basics
                </button>
                <p>(Ages 9 and up)</p>
            </div>
            <div>
                <button class="btn class-links" onclick="openLink('acrylic')">
                    Acrylic Painting
                </button>
                <p>(Ages 12 and up)</p>
            </div>
            <div>
                <button class="btn class-links" onclick="openLink('paint-night')">
                    Paint Nights
                </button>
                <p>(Family and Birthday Party Groups)</p>
            </div>
            <div>
                <button class="btn class-links" onclick="openLink('summer-camp')">
                    Summer Camp
                </button>
                <p>(Ages 8 and up)</p>
            </div>
            <div>
                <button class="btn class-links" onclick="openLink('hosting')">
                    Hosting Information
                </button>
                <p>(Utah Locations Only)</p>
            </div>
            <div>
                <button class="btn class-links" onclick="openLink('private-lessons')">
                    Private Lessons
                </button>
                <p>(All Ages)</p>
            </div>
        </div>

        <div class="classes-container classes-right">
            <section id="arts-crafts" class="class-tabs active-class-tab">
                <h1 class="title-text-2">Arts and Crafts</h1>
                <div class="class-tab-container pricing basic-info">
                    <div class="classes-tab-info">
                        <h2 class="section-text-p1">Pricing</h2>
                        <ul>
                            <li>$45 Per Lesson</li>
                            <li>Up-Front Payment Discount, $10 off each month</li>
                            <li>$80 Art kit (if you don't have the materials)</li>
                            <li>Limited number of scholarships offered each week</li>
                        </ul>
                    </div>
                    <div class="classes-tab-info">
                        <h2 class="section-text-p1">Basic Info</h2>
                        <ul>
                            <li>1 - 2 Lessons per week</li>
                            <li class="emphasis">In person only</li>
                            <li>7 Students per lesson</li>
                            <li>Make sure to fill out the 
                                <a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSdxbGJMxj1IxTtR5vwCdXOY6Kn5RKoP5I6TLfvxyRgMiHeNWw/viewform" class="text-link">
                                    sign up sheet
                                </a>
                            </li>
                            <li>45 Minutes long</li>
                            <li>Click <a href="class-info.html" class="text-link">here</a> for more info</li>
                        </ul>
                    </div>
                </div>
                <div class="class-tab-container locations supplies">
                    <div class="classes-tab-info">
                        <h2 class="section-text-p1">Locations</h2>
                        <ul>
                            <li class="section-text-p2">Millcreek</li>
                            <li>2861 East 2960 South, Salt Lake City, UT</li>
                            <li>Mondays 6:30PM to 7:15PM MST</li>
                            <li>Wednesdays 6:30PM to 7:15PM MST</li>
                            <li class="section-text-p2">Virtual</li>
                            <li>Via Zoom Link</li>
                            <li>Mondays 5:30PM to 6:15PM MST</li>
                            <li>Wednesdays 5:30PM to 6:15PM MST</li>
                        </ul>
                    </div>
                    <div class="classes-tab-info">
                        <h2 class="section-text-p1">Supplies</h2>
                        <ul>
                            <li>8 Markers</li>
                            <li>Eraser and Pencil</li>
                            <li>14 Crayons</li>
                            <li>24 Watercolors</li>
                            <li>12 Colored Pencils</li>
                            <li>Ruler</li>
                            <li>Folder</li>
                            <li>All Crafts Included</li>
                            <li>Art Pad</li>
                        </ul>
                    </div>
                </div>
                <div class="class-tab-container lesson-subjects">
                    <div class="classes-tab-info">
                        <h2 class="section-text-p1">Lesson Subjects</h2>
                        <div class="lesson-subjects-container">
                            <ul>
                                <li class="section-text-p2">Crafts</li>
                                <li>Building</li>
                                <li>Creating</li>
                                <li>Making</li>
                                <li>Drawing</li>
                                <li>Designing</li>
                                <li>Shaping</li>
                                <li>Coloring</li>
                                <li>Painting</li>
                            </ul>
                            <ul>
                                <li class="section-text-p2">Elements</li>
                                <li>Building</li>
                                <li>Creating</li>
                                <li>Making</li>
                                <li>Drawing</li>
                                <li>Designing</li>
                                <li>Shaping</li>
                                <li>Coloring</li>
                                <li>Painting</li>
                            </ul>
                            <ul>
                                <li class="section-text-p2">Famous Artists</li>
                                <li>Building</li>
                                <li>Creating</li>
                                <li>Making</li>
                                <li>Drawing</li>
                                <li>Designing</li>
                                <li>Shaping</li>
                                <li>Coloring</li>
                                <li>Painting</li>
                            </ul>
                            <ul>
                                <li class="section-text-p2">Art History</li>
                                <li>Building</li>
                                <li>Creating</li>
                                <li>Making</li>
                                <li>Drawing</li>
                                <li>Designing</li>
                                <li>Shaping</li>
                                <li>Coloring</li>
                                <li>Painting</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
            <section id="drawing-basics" class="class-tabs">
                <h1 class="title-text-2">Drawing Basics</h1>
                <div class="class-tab-container pricing basic-info">
                    <div class="classes-tab-info">
                        <h2 class="section-text-p1">Pricing</h2>
                        <ul>
                            <li>$45 Per Lesson</li>
                            <li>Up-Front Payment Discount, $10 off each month</li>
                            <li>$80 Art kit (if you don't have the materials)</li>
                            <li>Limited number of scholarships offered each week</li>
                        </ul>
                    </div>
                    <div class="classes-tab-info">
                        <h2 class="section-text-p1">Basic Info</h2>
                        <ul>
                            <li>1 - 2 Lessons per week</li>
                            <li class="emphasis">In person only</li>
                            <li>7 Students per lesson</li>
                            <li>Make sure to fill out the 
                                <a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSdxbGJMxj1IxTtR5vwCdXOY6Kn5RKoP5I6TLfvxyRgMiHeNWw/viewform" class="text-link">
                                    sign up sheet
                                </a>
                            </li>
                            <li>45 Minutes long</li>
                            <li>Click <a href="class-info.html" class="text-link">here</a> for more info</li>
                        </ul>
                    </div>
                </div>
                <div class="class-tab-container locations supplies">
                    <div class="classes-tab-info">
                        <h2 class="section-text-p1">Locations</h2>
                        <ul>
                            <li class="section-text-p2">Millcreek</li>
                            <li>2861 East 2960 South, Salt Lake City, UT</li>
                            <li>Mondays 6:30PM to 7:15PM MST</li>
                            <li>Wednesdays 6:30PM to 7:15PM MST</li>
                            <li class="section-text-p2">Virtual</li>
                            <li>Via Zoom Link</li>
                            <li>Mondays 5:30PM to 6:15PM MST</li>
                            <li>Wednesdays 5:30PM to 6:15PM MST</li>
                        </ul>
                    </div>
                    <div class="classes-tab-info">
                        <h2 class="section-text-p1">Supplies</h2>
                        <ul>
                            <li>8 Markers</li>
                            <li>Eraser and Pencil</li>
                            <li>14 Crayons</li>
                            <li>24 Watercolors</li>
                            <li>12 Colored Pencils</li>
                            <li>Ruler</li>
                            <li>Folder</li>
                            <li>All Crafts Included</li>
                            <li>Art Pad</li>
                        </ul>
                    </div>
                </div>
                <div class="class-tab-container lesson-subjects">
                    <div class="classes-tab-info">
                        <h2 class="section-text-p1">Lesson Subjects</h2>
                        <div class="lesson-subjects-container">
                            <ul>
                                <li class="section-text-p2">Crafts</li>
                                <li>Building</li>
                                <li>Creating</li>
                                <li>Making</li>
                                <li>Drawing</li>
                                <li>Designing</li>
                                <li>Shaping</li>
                                <li>Coloring</li>
                                <li>Painting</li>
                            </ul>
                            <ul>
                                <li class="section-text-p2">Elements</li>
                                <li>Building</li>
                                <li>Creating</li>
                                <li>Making</li>
                                <li>Drawing</li>
                                <li>Designing</li>
                                <li>Shaping</li>
                                <li>Coloring</li>
                                <li>Painting</li>
                            </ul>
                            <ul>
                                <li class="section-text-p2">Famous Artists</li>
                                <li>Building</li>
                                <li>Creating</li>
                                <li>Making</li>
                                <li>Drawing</li>
                                <li>Designing</li>
                                <li>Shaping</li>
                                <li>Coloring</li>
                                <li>Painting</li>
                            </ul>
                            <ul>
                                <li class="section-text-p2">Art History</li>
                                <li>Building</li>
                                <li>Creating</li>
                                <li>Making</li>
                                <li>Drawing</li>
                                <li>Designing</li>
                                <li>Shaping</li>
                                <li>Coloring</li>
                                <li>Painting</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
            <section id="acrylic" class="class-tabs">
                <p>3</p>
            </section>
            <section id="paint-night" class="class-tabs">
                <p>4</p>
            </section>
            <section id="summer-camp" class="class-tabs">
                <p>5</p>
            </section>
            <section id="hosting" class="class-tabs">
                <p>6</p>
            </section>
            <section id="private-lessons" class="class-tabs">
                <p>7</p>
            </section>
        </div>
    </section>

    <footer>
        <div class="footer-links-container">
            <ul class="contact-container">
                <li>Shonnie Schmidt</li>
                <li>shonnieart@gmail.com</li>
                <li>801-200-5363</li>
            </ul>
            <ul class="socials-container">
                <a href="https://www.facebook.com/Shonniestudioart" target="_blank">
                    <i class="social-icon fa-brands fa-facebook-f"></i>
                </a>
                <a href="https://www.instagram.com/shonniesart" target="_blank">
                    <i class="social-icon fa-brands fa-instagram"></i>
                </a>
                <a href="contact.html">
                    <i class="social-icon fa-regular fa-envelope"></i>
                </a>
                <a href="https://www.linkedin.com/in/shonnie-schmidt-5a7752233/" target="_blank">
                    <i class="social-icon fa-brands fa-linkedin-in"></i>
                </a>
            </ul>
            <a href="faq.html">FAQ</a>
        </div>
        <p class="copyright">Copyright &#169 shonniestudioart 2024</p>
    </footer>
</body>
</html>