<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Classes</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/mediaqueries.css">
    <script src="/static/script.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="icon" href="/static/assets/favicon/favicon-classes.png">
    <script src="https://kit.fontawesome.com/47b23d2432.js" crossorigin="anonymous"></script>
</head>
<body>

    <header>
        <div class="desktop-header-container">
            <nav class="desktop-header-nav">
                <ul class="nav-links">
                    <li><a href="/">HOME</a></li>
                    <li><a href="events.html">SCHEDULE EVENTS</a></li>
                    <li><a href="classes.html"class="active-nav-link">CLASS OPTIONS</a></li>
                    <li><a href="tattoos.html">GLITTER TATTOOS</a></li>
                    <li><a href="gallery.html">ART GALLERY</a></li>
                    <li><a href="contact.html">CONTACT</a></li>
                </ul>
            </nav>
        </div>
        
        <div class="mobile-header-container">
            <nav class="mobile-header-nav">
                <div class="title-container-mobile">
                    <h1 class="title-text-1">CLASS OPTIONS</h1>
                </div>
                <div class="hamburger-menu">
                    <div class="hamburger-icon" onclick="toggleMenu()">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <div class="menu-links">
                    <li><a href="/" onclick="toggleMenu()">HOME</a></li>
                    <li><a href="events.html" onclick="toggleMenu()">EVENTS</a></li>
                    <li><a href="classes.html" onclick="toggleMenu()">CLASSES</a></li>
                    <li><a href="tattoos.html" onclick="toggleMenu()">TATTOOS</a></li>
                    <li><a href="gallery.html" onclick="toggleMenu()">GALLERY</a></li>
                    <li><a href="contact.html" onclick="toggleMenu()">CONTACT</a></li>
                </div>
            </nav>
        </div>
    </header>

    <section id="introduction">
        <div class="title-container">
            <h1 class="title-text-1">CLASS OPTIONS</h1>
        </div>
    </section>

    <section id="classes">
        <div class="classes-container classes-left">
            <div>
                <button class="btn selected-links active-selected-link" onclick="openLink('arts-crafts')">
                    Arts and Crafts
                </button>
            </div>
            <div>
                <button class="btn selected-links" onclick="openLink('drawing-lessons')">
                    Drawing Lessons
                </button>
            </div>
            <div>
                <button class="btn selected-links" onclick="openLink('painting-lessons')">
                    Painting Lessons
                </button>
            </div>
            <div>
                <button class="btn selected-links" onclick="openLink('private-lessons')">
                    Private Lessons
                </button>
            </div>
        </div>

        <div class="classes-container classes-right">
            <section id="arts-crafts" class="selected-tabs active-selected-tab">
                <div class="class-title">
                    <h1 class="title-text-2">Arts and Crafts</h1>
                    <p class="section-text-p2">Ages 5 - 8</p>
                </div>
                <div class="class-tab-container pricing basic-info">
                    <div class="classes-tab-info">
                        <h2 class="section-text-p1">Pricing</h2>
                        <ul>
                            <li>$65 per lesson</li>
                            <li>Up-front payment discount, $10 off each month</li>
                            <li>If you have more questions refer to the 
                                <a class="text-link" href="faq.html">FAQ</a>
                                page or 
                                <a class="text-link" href="contact.html">contact</a>
                                Shonnie
                            </li>
                        </ul>
                    </div>
                    <div class="classes-tab-info">
                        <h2 class="section-text-p1">Basic Info</h2>
                        <ul>
                            <li>1 - 2 Lessons per week</li>
                            <li class="emphasis">In person only</li>
                            <li>7 Students per lesson</li>
                            <li>Make sure to fill out the 
                                <a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSdxbGJMxj1IxTtR5vwCdXOY6Kn5RKoP5I6TLfvxyRgMiHeNWw/viewform" class="text-link">
                                    sign up sheet
                                </a>
                            </li>
                            <li>45 Minutes long</li>
                            <li>Click <a href="class-info.html" class="text-link">here</a> for more info</li>
                        </ul>
                    </div>
                </div>
                <div class="class-tab-container locations">
                    <div class="classes-tab-info">
                        <div class="location-title">
                            <h2 class="section-text-p1">Locations</h2>
                            <p class="section-text-p2">Mountain Standard Time</p>
                        </div>
                        <div class="wide-tab-container">
                            <ul>
                                <li class="section-text-p2">Millcreek</li>
                                <li><a href="contact.html" class="text-link">Click here</a> to schedule a time</li>
                            </ul>
                            <ul>
                                <li class="section-text-p2">Virtual</li>
                                <li><a href="contact.html" class="text-link">Click here</a> to schedule a time</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="class-tab-container lesson-subjects">
                    <div class="classes-tab-info">
                        <h2 class="section-text-p1">Lesson Subjects</h2>
                        <div class="wide-tab-container">
                            <div>
                                <ul>
                                    <li class="section-text-p2">Crafts</li>
                                    <li>Building</li>
                                    <li>Creating</li>
                                    <li>Making</li>
                                    <li>Drawing</li>
                                    <li>Designing</li>
                                    <li>Shaping</li>
                                    <li>Coloring</li>
                                    <li>Painting</li>
                                </ul>
                                <ul>
                                    <li class="section-text-p2">Elements</li>
                                    <li>Lines</li>
                                    <li>Shapes</li>
                                    <li>Texture</li>
                                    <li>Space</li>
                                    <li>Color</li>
                                    <li>Value</li>
                                    <li>Form</li>
                                </ul>
                            </div>
                            <div>
                                <ul>
                                    <li class="section-text-p2">Artists</li>
                                    <li>What makes an artist?</li>
                                    <li>What makes an artist famous?</li>
                                    <li>Future</li>
                                    <li>Present</li>
                                    <li>Recent</li>
                                    <li>Past</li>
                                    <li>Ancient</li>
                                </ul>
                                <ul>
                                    <li class="section-text-p2">Art History</li>
                                    <li>Prehistoric</li>
                                    <li>Ancient</li>
                                    <li>Medieval</li>
                                    <li>Renaissance</li>
                                    <li>Baroque</li>
                                    <li>Neoclassicism</li>
                                    <li>Realism</li>
                                    <li>Impressionism</li>
                                    <li>Fauvism</li>
                                    <li>Cubism</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section id="drawing-lessons" class="selected-tabs">
                <div class="class-title">
                    <h1 class="title-text-2">Drawing Lessons</h1>
                    <p class="section-text-p2">Ages 9 and up</p>
                </div>
                <div class="class-tab-container pricing basic-info">
                    <div class="classes-tab-info">
                        <h2 class="section-text-p1">Pricing</h2>
                        <ul>
                            <li>$65 per lesson</li>
                            <li>Up-front payment discount, $10 off each month</li>
                            <li>If you have more questions refer to the 
                                <a class="text-link" href="faq.html">FAQ</a>
                                page or 
                                <a class="text-link" href="contact.html">contact</a>
                                Shonnie
                            </li>
                        </ul>
                    </div>
                    <div class="classes-tab-info">
                        <h2 class="section-text-p1">Basic Info</h2>
                        <ul>
                            <li>1 - 2 Lessons per week</li>
                            <li class="emphasis">In person only</li>
                            <li>12 Students per lesson</li>
                            <li>3 Students per virtual class</li>
                            <li>Make sure to fill out the 
                                <a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSdxbGJMxj1IxTtR5vwCdXOY6Kn5RKoP5I6TLfvxyRgMiHeNWw/viewform" class="text-link">
                                    sign up sheet
                                </a>
                            </li>
                            <li>1 Hour long</li>
                            <li>Students can start at any time</li>
                            <li>Click <a href="class-info.html" class="text-link">here</a> for more info</li>
                        </ul>
                    </div>
                </div>
                <div class="class-tab-container locations">
                    <div class="classes-tab-info">
                        <div class="location-title">
                            <h2 class="section-text-p1">Locations</h2>
                            <p class="section-text-p2">Mountain Standard Time</p>
                        </div>
                        <div class="wide-tab-container">
                            <ul>
                                <li class="section-text-p2">Millcreek</li>
                                <li><a href="contact.html" class="text-link">Click here</a> to schedule a time</li>
                            </ul>
                            <ul>
                                <li class="section-text-p2">Virtual</li>
                                <li><a href="contact.html" class="text-link">Click here</a> to schedule a time</li>
                            </ul>
                            <ul>
                                <li class="section-text-p2">Bountiful</li>
                                <li><a href="contact.html" class="text-link">Click here</a> to schedule a time</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="class-tab-container lesson-subjects">
                    <div class="classes-tab-info">
                        <h2 class="section-text-p1">Lesson Subjects</h2>
                        <div class="wide-tab-container">
                            <div>
                                <ul>
                                    <li class="section-text-p2">Crafts</li>
                                    <li>Building</li>
                                    <li>Creating</li>
                                    <li>Making</li>
                                    <li>Drawing</li>
                                    <li>Designing</li>
                                    <li>Shaping</li>
                                    <li>Coloring</li>
                                    <li>Painting</li>
                                </ul>
                                <ul>
                                    <li class="section-text-p2">Elements</li>
                                    <li>Lines</li>
                                    <li>Shapes</li>
                                    <li>Texture</li>
                                    <li>Space</li>
                                    <li>Color</li>
                                    <li>Value</li>
                                    <li>Form</li>
                                </ul>
                            </div>
                            <div>
                                <ul>
                                    <li class="section-text-p2">Artists</li>
                                    <li>What makes an artist?</li>
                                    <li>What makes an artist famous?</li>
                                    <li>Future</li>
                                    <li>Present</li>
                                    <li>Recent</li>
                                    <li>Past</li>
                                    <li>Ancient</li>
                                </ul>
                                <ul>
                                    <li class="section-text-p2">Art History</li>
                                    <li>Prehistoric</li>
                                    <li>Ancient</li>
                                    <li>Medieval</li>
                                    <li>Renaissance</li>
                                    <li>Baroque</li>
                                    <li>Neoclassicism</li>
                                    <li>Realism</li>
                                    <li>Impressionism</li>
                                    <li>Fauvism</li>
                                    <li>Cubism</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="class-tab-container drawing-techniques">
                    <div class="classes-tab-info">
                        <h2 class="section-text-p1">Drawing Techniques</h2>
                        <div class="wide-tab-container">
                            <div>
                                <ul>
                                    <li>Layering</li>
                                    <li>Shading</li>
                                    <li>Loose Sketching</li>
                                    <li>Gesture Drawing</li>
                                    <li>Extra Drawing Techniques</li>
                                </ul>
                                <ul>
                                    <li>Blending Drawing</li>
                                    <li>Erase Lines</li>
                                    <li>Frottage</li>
                                    <li>Indenting</li>
                                </ul>
                                <ul>
                                    <li>Contour Line Drawing</li>
                                    <li>Cross Contour Line Drawing</li>
                                    <li>Continuous Line Drawing</li>
                                    <li>Detail Work</li> 
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section id="painting-lessons" class="selected-tabs">
                <div class="class-title">
                    <h1 class="title-text-2">Painting Lessons</h1>
                    <p class="section-text-p2">Ages 12 and up</p>
                </div>
                <div class="class-tab-container pricing basic-info">
                    <div class="classes-tab-info">
                        <h2 class="section-text-p1">Pricing</h2>
                        <ul>
                            <li>$140 per month ($35 per week)</li>
                            <li>$120 per month up-front payment discount</li>
                            <li>If you have more questions refer to the 
                                <a class="text-link" href="faq.html">FAQ</a>
                                page or 
                                <a class="text-link" href="contact.html">contact</a>
                                Shonnie
                            </li>
                        </ul>
                    </div>
                    <div class="classes-tab-info">
                        <h2 class="section-text-p1">Basic Info</h2>
                        <ul>
                            <li>1 Lesson per week</li>
                            <li>15 Students per lesson</li>
                            <li>6 - 15 Students per virtual class</li>
                            <li>Make sure to fill out the 
                                <a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSdxbGJMxj1IxTtR5vwCdXOY6Kn5RKoP5I6TLfvxyRgMiHeNWw/viewform" class="text-link">
                                    sign up sheet
                                </a>
                            </li>
                            <li>1 Hour long</li>
                            <li>Students can start at any time</li>
                            <li>Click <a href="class-info.html" class="text-link">here</a> for more info</li>
                        </ul>
                    </div>
                </div>
                <div class="class-tab-container locations">
                    <div class="classes-tab-info">
                        <div class="location-title">
                            <h2 class="section-text-p1">Locations</h2>
                            <p class="section-text-p2">Mountain Standard Time</p>
                        </div>
                        <div class="wide-tab-container">
                            <ul>
                                <li class="section-text-p2">Millcreek</li>
                                <li><a href="contact.html" class="text-link">Click here</a> to schedule a time</li>
                            </ul>
                            <ul>
                                <li class="section-text-p2">Virtual</li>
                                <li><a href="contact.html" class="text-link">Click here</a> to schedule a time</li>
                            </ul>
                            <ul>
                                <li class="section-text-p2">Bountiful</li>
                                <li><a href="contact.html" class="text-link">Click here</a> to schedule a time</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="class-tab-container lesson-subjects">
                    <div class="classes-tab-info">
                        <h2 class="section-text-p1">Lesson Subjects</h2>
                        <div class="wide-tab-container">
                            <div>
                                <ul>
                                    <li class="section-text-p2">Crafts</li>
                                    <li>Building</li>
                                    <li>Creating</li>
                                    <li>Making</li>
                                    <li>Drawing</li>
                                    <li>Designing</li>
                                    <li>Shaping</li>
                                    <li>Coloring</li>
                                    <li>Painting</li>
                                </ul>
                                <ul>
                                    <li class="section-text-p2">Elements</li>
                                    <li>Lines</li>
                                    <li>Shapes</li>
                                    <li>Texture</li>
                                    <li>Space</li>
                                    <li>Color</li>
                                    <li>Value</li>
                                    <li>Form</li>
                                </ul>
                            </div>
                            <div>
                                <ul>
                                    <li class="section-text-p2">Artists</li>
                                    <li>What makes an artist?</li>
                                    <li>What makes an artist famous?</li>
                                    <li>Future</li>
                                    <li>Present</li>
                                    <li>Recent</li>
                                    <li>Past</li>
                                    <li>Ancient</li>
                                </ul>
                                <ul>
                                    <li class="section-text-p2">Art History</li>
                                    <li>Prehistoric</li>
                                    <li>Ancient</li>
                                    <li>Medieval</li>
                                    <li>Renaissance</li>
                                    <li>Baroque</li>
                                    <li>Neoclassicism</li>
                                    <li>Realism</li>
                                    <li>Impressionism</li>
                                    <li>Fauvism</li>
                                    <li>Cubism</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="class-tab-container drawing-techniques">
                    <div class="classes-tab-info">
                        <h2 class="section-text-p1">Painting Techniques</h2>
                        <div class="wide-tab-container">
                            <div>
                                <ul>
                                    <li>Dry Brushing</li>
                                    <li>Combing</li>
                                    <li>Wet on Wet</li>
                                    <li>Layering</li>
                                    <li>Brush Drawing</li>
                                </ul>
                                <ul>
                                    <li>Dabbing</li>
                                    <li>Double Loading</li>
                                    <li>Flat Wash</li>
                                    <li>Glazing</li>
                                    <li>Underpainting or Blending</li>
                                </ul>
                                <ul>
                                    <li>Grading or Fading</li>
                                    <li>Impasto</li>
                                    <li>Splatter, Sponging and Knives</li>
                                    <li>Broad Brush Strokes</li> 
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section id="private-lessons" class="selected-tabs">
                <div class="class-title">
                    <h1 class="title-text-2">Private Lessons</h1>
                    <p class="section-text-p2">All Ages</p>
                </div>
                <div class="class-tab-container pricing basic-info">
                    <div class="classes-tab-info">
                        <h2 class="section-text-p1">Pricing</h2>
                        <ul>
                            <li>$340 per month (4 weeks)</li>
                            <li>$85 per lesson</li>
                            <li>Up-front payment discount offered</li>
                            <li>If you have more questions refer to the 
                                <a class="text-link" href="faq.html">FAQ</a>
                                page or 
                                <a class="text-link" href="contact.html">contact</a>
                                Shonnie
                            </li>
                        </ul>
                    </div>
                    <div class="classes-tab-info">
                        <h2 class="section-text-p1">Basic Info</h2>
                        <ul>
                            <li>1 Lesson per week</li>
                            <li>Make sure to fill out the 
                                <a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSdxbGJMxj1IxTtR5vwCdXOY6Kn5RKoP5I6TLfvxyRgMiHeNWw/viewform" class="text-link">
                                    sign up sheet
                                </a>
                            </li>
                            <li>1 Hour long</li>
                            <li>Click <a href="class-info.html" class="text-link">here</a> for more info</li>
                        </ul>
                    </div>
                </div>
                <div class="class-tab-container locations">
                    <div class="classes-tab-info">
                        <div class="location-title">
                            <h2 class="section-text-p1">Locations</h2>
                            <p class="section-text-p2">Mountain Standard Time</p>
                        </div>
                        <div class="wide-tab-container">
                            <ul>
                                <li class="section-text-p2">Millcreek</li>
                                <li><a href="contact.html" class="text-link">Click here</a> to schedule a time</li>
                            </ul>
                            <ul>
                                <li class="section-text-p2">Virtual</li>
                                <li><a href="contact.html" class="text-link">Click here</a> to schedule a time</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="class-tab-container lesson-subjects">
                    <div class="classes-tab-info">
                        <h2 class="section-text-p1">Lesson Subjects</h2>
                        <div class="wide-tab-container">
                            <div>
                                <ul>
                                    <li class="section-text-p2">Crafts</li>
                                    <li>Building</li>
                                    <li>Creating</li>
                                    <li>Making</li>
                                    <li>Drawing</li>
                                    <li>Designing</li>
                                    <li>Shaping</li>
                                    <li>Coloring</li>
                                    <li>Painting</li>
                                </ul>
                                <ul>
                                    <li class="section-text-p2">Elements</li>
                                    <li>Lines</li>
                                    <li>Shapes</li>
                                    <li>Texture</li>
                                    <li>Space</li>
                                    <li>Color</li>
                                    <li>Value</li>
                                    <li>Form</li>
                                </ul>
                            </div>
                            <div>
                                <ul>
                                    <li class="section-text-p2">Artists</li>
                                    <li>What makes an artist?</li>
                                    <li>What makes an artist famous?</li>
                                    <li>Future</li>
                                    <li>Present</li>
                                    <li>Recent</li>
                                    <li>Past</li>
                                    <li>Ancient</li>
                                </ul>
                                <ul>
                                    <li class="section-text-p2">Art History</li>
                                    <li>Prehistoric</li>
                                    <li>Ancient</li>
                                    <li>Medieval</li>
                                    <li>Renaissance</li>
                                    <li>Baroque</li>
                                    <li>Neoclassicism</li>
                                    <li>Realism</li>
                                    <li>Impressionism</li>
                                    <li>Fauvism</li>
                                    <li>Cubism</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </section>

    <footer>
        <div class="footer-links-container">
            <ul class="contact-container">
                <li>Shonnie Schmidt</li>
                <li>shonnieart@gmail.com</li>
                <li>801-200-5363</li>
            </ul>
            <ul class="socials-container">
                <a href="https://www.facebook.com/Shonniestudioart" target="_blank">
                    <i class="social-icon fa-brands fa-facebook-f"></i>
                </a>
                <a href="https://www.instagram.com/shonniesart" target="_blank">
                    <i class="social-icon fa-brands fa-instagram"></i>
                </a>
                <a href="contact.html">
                    <i class="social-icon fa-regular fa-envelope"></i>
                </a>
                <a href="https://www.linkedin.com/in/shonnie-schmidt-5a7752233/" target="_blank">
                    <i class="social-icon fa-brands fa-linkedin-in"></i>
                </a>
            </ul>
            <a href="faq.html">FAQ</a>
        </div>
        <p class="copyright">Copyright &#169 shonniestudioart 2024</p>
    </footer>
</body>
</html>