<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Class Info</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/mediaqueries.css">
    <script src="/static/script.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/47b23d2432.js" crossorigin="anonymous"></script>
</head>
<body>
    
    <header>
        <div class="desktop-header-container">
            <nav class="desktop-header-nav">
                <ul class="nav-links">
                    <li><a href="/">HOME</a></li>
                    <li><a href="tattoos.html">GLITTER TATTOOS</a></li>
                    <div class="classes-dropdown">
                        <li><a href="classes.html">CLASS OPTIONS</a></li>
                        <!-- <div class="dropdown-content">
                            <a href="#">Arts and Crafts</a>
                            <a href="#">Drawing Basics</a>
                            <a href="#">Acrylic Painting</a>
                            <a href="#">Paint Nights</a>
                            <a href="#">Summer Camp</a>
                            <a href="#">Hosting Information</a>
                            <a href="#">Private Lessons</a>
                        </div> -->
                    </div>
                    <li><a href="commissions.html">COMMISSION PIECES</a></li>
                    <li><a href="gallery.html">ART GALLERY</a></li>
                    <li><a href="contact.html">CONTACT</a></li>
                </ul>
            </nav>
        </div>
        
        <div class="mobile-header-container">
            <nav class="mobile-header-nav">
                <div class="title-container-mobile">
                    <h1 class="title-text-1">CLASS INFORMATION</h1>
                </div>
                <div class="hamburger-menu">
                    <div class="hamburger-icon" onclick="toggleMenu()">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <div class="menu-links">
                    <li><a href="/" onclick="toggleMenu()">HOME</a></li>
                    <li><a href="tattoos.html" onclick="toggleMenu()">TATTOOS</a></li>
                    <li><a href="classes.html" onclick="toggleMenu()">CLASSES</a></li>
                    <li><a href="commissions.html" onclick="toggleMenu()">COMMISSIONS</a></li>
                    <li><a href="gallery.html" onclick="toggleMenu()">GALLERY</a></li>
                    <li><a href="contact.html" onclick="toggleMenu()">CONTACT</a></li>
                </div>
            </nav>
        </div>
    </header>

    <section id="introduction">
        <div class="title-container">
            <h1 class="title-text-1">CLASS INFORMATION</h1>
        </div>
    </section>
    
    <div class="class-info-container">
        <section id="general-class-info">
            <h2 class="title-text-2">General Information</h2>
            <p>Lesson plans for each week are based on the elements of art, but have many different 
                perspective each season as we build on learning new techniques and developing art 
                skills. During each season we learn about art history, and ancient, past and presents 
                artist. 
                <br><br>
                All classes will have 15 to 20 minutes of instruction that involve elements of making 
                and designing arts and crafts. These teachings will be implement into training 
                exercises, fun games and famous artist.
                <br><br>
                30 minutes will be reserved for creating and making art. Basic drawing and paint 
                classes will have 45 minutes, working on projects, preparing students for the art show.
                <br><br>
                Parent my attend one class out of the 16 weeks. Any students with special needs must 
                discussed personally with me, to decide what options best suits the student's needs.</p>
        </section>

        <section id="sign-up">
            <h2 class="title-text-2">Sign Up Sheet</h2>
            <p>There are three locations for art classes, Bountiful, Millcreek, Taylorsville, or virtual 
                through zoom online classes. Please make sure you select the correct class location when 
                filling out the sign-up sheet. The sign-up sheet can be found 
                <a class="class-info-link" target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSdxbGJMxj1IxTtR5vwCdXOY6Kn5RKoP5I6TLfvxyRgMiHeNWw/viewform">
                    here</a>.
            </p>
        </section>

        <section id="class-seasons">
            <h2 class="title-text-2">Seasons</h2>
            <p>
                Class season are on going all Fall, Winter, Spring and Summer. Fall 
                and Spring season are 16 weeks long. Summer is 4 weeks long. Children 
                and adults can start at any time.
                <ul>
                    <li>Fall class begins the 1st week of August.</li>
                    <li>Spring class begins the 1st week of January after New Years Day.</li>
                    <li>Summer class begins the 1st week of June.</li>
                </ul>
            </p>
        </section>

        <section id="class-breaks">
            <h2 class="title-text-2">Breaks</h2>
            <p>There are several class breaks that take place throughout the year.
                <ul>
                    <li>Winter break begins December 1st and lasts the duration of the month.</li>
                    <li>Spring break begins the 3rd week of March and ends the 2nd week of April.</li>
                    <li>Summer break begins July 1st and lasts the duration of the month.</li>
                </ul>
            </p>
        </section>

        <section id="art-show">
            <h2 class="title-text-2">Art Show Exhibit</h2>
            <p>Every year all participating students of all ages will have a opportunity to enter 
                their art, creations and crafts into an art show. The submission deadline will be 
                Friday by 6:00 PM MST, first week in December. The Art Show Exhibit will be the 
                following weekend (second weekend in December), Saturday from 6:00 PM to 8:00 PM 
                MST. More information will be given as time approaches the time of the current 
                year's exhibit.</p>
        </section>
    
        <section id="summer-camp">
            <h2 class="title-text-2">Summer Camp</h2>
            <p> Summer camp is a one week course consisting of 5 days (Monday - Friday). Each week 
                contains art information on current theme along with building and creating fun arts 
                and crafts. Students will learn about the design and make-up of ancient and present 
                art. Themes will be announced each year.
                <br><br>
                Students projects from Summer Camp will have the opportunity to be displayed at the 
                end of the year in the aformentioned Art Show Exhibit.</p>
        </section>
    </div>

    <footer>
        <div class="footer-links-container">
            <ul class="contact-container">
                <li>Shonnie Schmidt</li>
                <li>shonnieart@gmail.com</li>
                <li>801-200-5363</li>
            </ul>
            <ul class="socials-container">
                <a href="https://www.facebook.com/Shonniestudioart" target="_blank">
                    <i class="social-icon fa-brands fa-facebook-f"></i>
                </a>
                <a href="https://www.instagram.com/shonniesart" target="_blank">
                    <i class="social-icon fa-brands fa-instagram"></i>
                </a>
                <a href="contact.html">
                    <i class="social-icon fa-regular fa-envelope"></i>
                </a>
                <a href="https://www.linkedin.com/in/shonnie-schmidt-5a7752233/" target="_blank">
                    <i class="social-icon fa-brands fa-linkedin-in"></i>
                </a>
            </ul>
            <a href="faq.html">FAQ</a>
        </div>
        <p class="copyright">Copyright &#169 shonniestudioart 2024</p>
    </footer>
</body>
</html>