<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Commissions</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/mediaqueries.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/47b23d2432.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <nav>
            <ul class="nav-links">
                <li><a href="/">HOME</a></li>
                <li><a href="tattoos.html">GLITTER TATTOOS</a></li>
                <div class="classes-dropdown">
                    <li><a href="classes.html">CLASS OPTIONS</a></li>
                    <div class="dropdown-content">
                        <a href="#">Arts and Crafts</a>
                        <a href="#">Drawing Basics</a>
                        <a href="#">Acrylic Painting</a>
                        <a href="#">Paint Nights</a>
                        <a href="#">Summer Camp</a>
                        <a href="#">Hosting Information</a>
                        <a href="#">Private Lessons</a>
                    </div>
                </div>
                <li><a href="commissions.html" class="active-nav-link">COMMISSION PIECES</a></li>
                <li><a href="gallery.html">ART GALLERY</a></li>
                <li><a href="contact.html">CONTACT</a></li>
            </ul>
        </nav>
    </header>

    <section id="introduction">
        <div class="title-container">
            <h1 class="title-text-1">COMMISSIONS</h1>
        </div>
    </section>

    <section id="comissions">
        <div class="comissions-pricing-container">
            <div class="comissions-container-left">
                <p class="section-text-p1">Details</p>
                <p>My main medium is colored pencil, but I am able to paint acrylic and water color. 
                    Through the years I have completed a wide variety of art work. Most drawings can 
                    be altered according to your needs. I do require reference photos of what is 
                    being drawn.
                    <br><br>
                    Please 
                    <a class="text-link" href="contact.html">contact</a>
                    Shonnie with any additional questions.</p>
            </div>
            <div class="comissions-container-right">
                <p class="section-text-p1">Pricing</p>

                <ul>
                    <li>$100 base price small commission pieces (4" x 6" to 11" x 1 7")</li>
                    <li>$250 base price large commission pieces (12" x 18" to 24" x 36")</li>
                </ul>

                <p> Drawings and paintings may vary in price according to the complexity, detail
                     of the work. and hours spent.
                    <br><br>
                    Frames may be purchased at extra cost. 
            </div>
        </div>
    </section>

    <section id="examples">
        <div class="commissions-examples-container">
            <div class="examples-title">
                <p class="section-text-p1">Some Of My Works</p>
                <a class="text-link section-text-p2" href="gallery.html">See More</a>
            </div>
            <div class="commissions-img-container">
                <img src="static/assets/commission-example-1.jpg" alt="Ship and Moon">
                <img src="static/assets/commission-example-2.jpg" alt="Flowers">
                <img src="static/assets/commission-example-3.jpg" alt="Portrait">
                <img src="static/assets/commission-example-4.jpg" alt="Hands">
                <img src="static/assets/commission-example-5.jpg" alt="Mother Daughter">
                <img src="static/assets/commission-example-6.jpg" alt="String">
            </div>
        </div>
    </section>

    <footer>
        <div class="footer-links-container">
            <ul class="contact-container">
                <li>Shonnie Schmidt</li>
                <li>shonnieart@gmail.com</li>
                <li>801-200-5363</li>
            </ul>
            <ul class="socials-container">
                <a href="https://www.facebook.com/Shonniestudioart" target="_blank">
                    <i class="social-icon fa-brands fa-facebook-f"></i>
                </a>
                <a href="https://www.instagram.com/shonniesart" target="_blank">
                    <i class="social-icon fa-brands fa-instagram"></i>
                </a>
                <a href="contact.html" target="_blank">
                    <i class="social-icon fa-regular fa-envelope"></i>
                </a>
                <a href="https://www.linkedin.com/in/shonnie-schmidt-5a7752233/" target="_blank">
                    <i class="social-icon fa-brands fa-linkedin-in"></i>
                </a>
            </ul>
            <a href="faq.html">FAQ</a>
        </div>
        <p class="copyright">Copyright &#169 shonniestudioart 2024</p>
    </footer>
</body>
</html>