<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAQ</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/mediaqueries.css">
    <script src="/static/script.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/47b23d2432.js" crossorigin="anonymous"></script>
</head>
<body>

    <header>
        <div class="desktop-header-container">
            <nav class="desktop-header-nav">
                <ul class="nav-links">
                    <li><a href="/">HOME</a></li>
                    <li><a href="events.html">SCHEDULE EVENTS</a></li>
                    <div class="classes-dropdown">
                        <li><a href="classes.html">CLASS OPTIONS</a></li>
                        <!-- <div class="dropdown-content">
                            <a href="#">Arts and Crafts</a>
                            <a href="#">Drawing Basics</a>
                            <a href="#">Acrylic Painting</a>
                            <a href="#">Paint Nights</a>
                            <a href="#">Summer Camp</a>
                            <a href="#">Hosting Information</a>
                            <a href="#">Private Lessons</a>
                        </div> -->
                    </div>
                    <li><a href="tattoos.html">GLITTER TATTOOS</a></li>
                    <li><a href="gallery.html">ART GALLERY</a></li>
                    <li><a href="contact.html">CONTACT</a></li>
                </ul>
            </nav>
        </div>
        
        <div class="mobile-header-container">
            <nav class="mobile-header-nav faq-mobile-header">
                <div class="title-container-mobile faq-mobile-title">
                    <h1 class="title-text-1">FREQUENTLY ASKED QUESTIONS</h1>
                </div>
                <div class="hamburger-menu">
                    <div class="hamburger-icon" onclick="toggleMenu()">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <div class="menu-links">
                    <li><a href="/" onclick="toggleMenu()">HOME</a></li>
                    <li><a href="events.html" onclick="toggleMenu()">EVENTS</a></li>
                    <li><a href="classes.html" onclick="toggleMenu()">CLASSES</a></li>
                    <li><a href="tattoos.html" onclick="toggleMenu()">TATTOOS</a></li>
                    <li><a href="gallery.html" onclick="toggleMenu()">GALLERY</a></li>
                    <li><a href="contact.html" onclick="toggleMenu()">CONTACT</a></li>
                </div>
            </nav>
        </div>
    </header>

    <section id="introduction">
        <div class="title-container">
            <h1 class="title-text-1">FREQUENTLY ASKED QUESTIONS</h1>
        </div>
    </section>

    <div class="faq-container">
        <section id="class-info">
            <h2 class="title-text-2">Class Information</h2>
            <p>
                Lesson plans each week will be based on
                the elements of art and will build upon previous concepts taught. Each week will
                teach new and exciting concepts about the elements of art and how to implement 
                them into your own artistic expression. For a more in-depth look at the Class
                Information please click
                <a class="faq-link" href="class-info.html">here</a>.
            </p>
        </section>

        <section id="payments">
            <h2 class="title-text-2">Payments</h2>
            <p>Payment must be made before class starts, 24 hours before or on that 
                day. Unless you have paid for art classes in full. For those who would 
                like a payment reminder, there will be an option to have a text message s
                ent to you the first of the month. To pay for classes, click on the 
                sign-up sheet. <br><br>
                Payments can be made through Venmo, with cash, or using checks payable to 
                Shonnie Schmidt. Any further questions, please 
                <a class="faq-link" href="contact.html">contact</a>
                Shonnie Schmidt.
            </p>
        </section>

        <section id="refund">
            <h2 class="title-text-2">Refund Policy</h2>
            <p>Full refunds can only be given if notice of withdrawal is made 
                in advance 24 hours before the first class of the month starts. 
                Once first class has been attended, only half your refund can be 
                given. Refunds will be made available due to weather or emergency 
                needs. Further information will be given in such an event. </p>
        </section>
    
        <section id="make-up">
            <h2 class="title-text-2">Make Up Classes</h2>
            <p> When illness occurs, eligibility for make-up classes are available, 
                if the instructor has been informed at least one hour before class 
                starts. Further discussion will be communicated for make-up class 
                times.</p>
        </section>
    
        <section id="agreement">
            <h2 class="title-text-2">Agreement Form</h2>
            <p>Signature for this agreement form must be sign by a student, parent 
                or guardian 18 years of age or older. Students will need to have 
                this agreement signed by or on first day of class in order to attend. 
                Click 
                <a class="faq-link" target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSfz6gy3UghhdN9ggLNXfDG3Wa2v0vMqR-VQxOW3bLogY_JNGw/viewform">
                here</a>
                to view and 
                sign the agreement form.</p>
        </section>
    </div>

    <footer>
        <div class="footer-links-container">
            <ul class="contact-container">
                <li>Shonnie Schmidt</li>
                <li>shonnieart@gmail.com</li>
                <li>801-200-5363</li>
            </ul>
            <ul class="socials-container">
                <a href="https://www.facebook.com/Shonniestudioart" target="_blank">
                    <i class="social-icon fa-brands fa-facebook-f"></i>
                </a>
                <a href="https://www.instagram.com/shonniesart" target="_blank">
                    <i class="social-icon fa-brands fa-instagram"></i>
                </a>
                <a href="contact.html">
                    <i class="social-icon fa-regular fa-envelope"></i>
                </a>
                <a href="https://www.linkedin.com/in/shonnie-schmidt-5a7752233/" target="_blank">
                    <i class="social-icon fa-brands fa-linkedin-in"></i>
                </a>
            </ul>
            <a href="faq.html">FAQ</a>
        </div>
        <p class="copyright">Copyright &#169 shonniestudioart 2024</p>
    </footer>
</body>
</html>