<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shonnie's Studio of Art</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/mediaqueries.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/47b23d2432.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <nav>
            <ul class="nav-links">
                <li><a href="/" class="active-nav-link">HOME</a></li>
                <li><a href="tattoos.html">GLITTER TATTOOS</a></li>
                <div class="classes-dropdown">
                    <li><a href="classes.html">CLASS OPTIONS</a></li>
                    <div class="dropdown-content">
                        <a href="#">Arts and Crafts</a>
                        <span></span>
                        <a href="#">Drawing Basics</a>
                        <a href="#">Acrylic Painting</a>
                        <a href="#">Paint Nights</a>
                        <a href="#">Summer Camp</a>
                        <a href="#">Hosting Information</a>
                        <a href="#" class="last-dropdown-item">Private Lessons</a>
                    </div>
                </div>
                <li><a href="commissions.html">COMMISSION PIECES</a></li>
                <li><a href="gallery.html">ART GALLERY</a></li>
                <li><a href="contact.html">CONTACT</a></li>
            </ul>
        </nav>
    </header>

    <section id="introduction">
        <div class="title-container">
            <h1 class="title-text-1">SHONNIE'S STUDIO OF ART</h1>
            <p class="section-text-p1">Traveling Artist</p>
        </div>
        <div class="introduction-content-container">
            <h2 class="title-text-2">Your first class is on me!</h2>
            <div class="locations-container">
                <p class="section-text-p2">Utah Locations</p>
                <ul class="locations-list">
                    <li>Bountiful</li>
                    <li>Millcreek</li>
                    <li>Taylorsville</li>
                </div>
            </div>
        </div>
    </section>

    <section id="about">
        <div class="about-img-container">
            <img class="about-img" src="static/assets/pencil-drawing.jpg" alt="pencil drawing">
        </div>
        <div class="about-content-container">
            <p>I am a traveling artist that can bring art 
                right to your home. I focus to suit all ages, interest and needs 
                in developing art skills. The main goal is to not only to create 
                beautiful art work, but to bring excitement and understanding. I 
                educated student to achieve success and find a passion for their 
                talent. Many students not only learn the basics, but how to thrive 
                and perform in the art world. <br><br> As we go through the 7 elements of 
                art each week, I involve all sorts of education, from science, 
                math to history and art. <br><br> Classes involves 10 to 15 minutes of 
                educating and introducing one specific element for each lesson. 
                A brief summary of ancient, past and present artist are included 
                in the presentation on techniques, in line with the element being 
                taught. The last 30 minutes to an hour, implements what's being 
                applied for that day. I provide sample instructions, training 
                exercises, fun activities, art design and final projects. <br><br>
                Students will also have the wonderful opportunity participating 
                in the art show exhibit at the end of the year. Along with a 
                options to sell their art work at the online art gallery.</p>
        </div>
    </section>

    <section id="instructor">
        <h2 class="title-text-2">Your Instructor</h2>
        <div class="instructor-container">
            <p>
                I have been doing art since i was 13 years old and have enjoyed it ever 
                since. I started at Wasatch Junior High and through the years attended 
                the Peterson Art Center. I have won several awards from participating 
                many art shows such as Hogle Zoo, Davis County Fair, Granite Furniture 
                and in my younger years Wasatch Junior High. I have taught classes for 
                the disabled through the Utah Food bank and for Davis County and Salt 
                Lake areas. It has always been such a passion for me and I am excited 
                to continue success with my students.
            </p>
            <img src="static/assets/shonnie-profile.jpg" alt="your instructor">
        </div>
    </section>

    <footer>
        <div class="footer-links-container">
            <ul class="contact-container">
                <li>Shonnie Schmidt</li>
                <li>shonnieart@gmail.com</li>
                <li>801-200-5363</li>
            </ul>
            <ul class="socials-container">
                <a href="https://www.facebook.com/Shonniestudioart" target="_blank">
                    <i class="social-icon fa-brands fa-facebook-f"></i>
                </a>
                <a href="https://www.instagram.com/shonniesart" target="_blank">
                    <i class="social-icon fa-brands fa-instagram"></i>
                </a>
                <a href="#" target="_blank">
                    <i class="social-icon fa-regular fa-envelope"></i>
                </a>
                <a href="https://www.linkedin.com/in/shonnie-schmidt-5a7752233/" target="_blank">
                    <i class="social-icon fa-brands fa-linkedin-in"></i>
                </a>
            </ul>
            <a href="faq.html">FAQ</a>
        </div>
        <p class="copyright">Copyright &#169 shonniestudioart 2024</p>
    </footer>
</body>
</html>