<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Glitter Tattoos</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/mediaqueries.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/47b23d2432.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <nav>
            <ul class="nav-links">
                <li><a href="/">HOME</a></li>
                <li><a href="tattoos.html" class="active-nav-link">GLITTER TATTOOS</a></li>
                <div class="classes-dropdown">
                    <li><a href="classes.html">CLASS OPTIONS</a></li>
                    <div class="dropdown-content">
                        <a href="#">Arts and Crafts</a>
                        <a href="#">Drawing Basics</a>
                        <a href="#">Acrylic Painting</a>
                        <a href="#">Paint Nights</a>
                        <a href="#">Summer Camp</a>
                        <a href="#">Hosting Information</a>
                        <a href="#">Private Lessons</a>
                    </div>
                </div>
                <li><a href="commissions.html">COMMISSION PIECES</a></li>
                <li><a href="gallery.html">ART GALLERY</a></li>
                <li><a href="contact.html">CONTACT</a></li>
            </ul>
        </nav>
    </header>

    <section id="introduction">
        <div class="title-container">
            <h1 class="title-text-1">GLITTER TATTOOS</h1>
        </div>
    </section>

    <section id="coming-soon">
        <p class="section-text-p1">Coming Soon!</p>
    </section>

    <footer>
        <div class="footer-links-container">
            <ul class="contact-container">
                <li>Shonnie Schmidt</li>
                <li>shonnieart@gmail.com</li>
                <li>801-200-5363</li>
            </ul>
            <ul class="socials-container">
                <a href="https://www.facebook.com/Shonniestudioart" target="_blank">
                    <i class="social-icon fa-brands fa-facebook-f"></i>
                </a>
                <a href="https://www.instagram.com/shonniesart" target="_blank">
                    <i class="social-icon fa-brands fa-instagram"></i>
                </a>
                <a href="contact.html" target="_blank">
                    <i class="social-icon fa-regular fa-envelope"></i>
                </a>
                <a href="https://www.linkedin.com/in/shonnie-schmidt-5a7752233/" target="_blank">
                    <i class="social-icon fa-brands fa-linkedin-in"></i>
                </a>
            </ul>
            <a href="faq.html">FAQ</a>
        </div>
        <p class="copyright">Copyright &#169 shonniestudioart 2024</p>
    </footer>
</body>
</html>